.searchbar{
    background-color: white;
    width: 200px;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}